# ignore everything in root directory
# (this prevents committing other things in ~/.config)
/*

# unignore these specific files
!.gitignore
!.gitmodules
!README.md
!.pre-commit-config.yaml

# unignore zsh configs
!zsh/
!zsh/**
# ignore zcompdump files, autocompletion files will be generated over time as ZSH is used
zsh/.zcompdump*
zsh/.zsh_history
zsh/.zsh_sessions

# unignore tmux config
!tmux/
# ignort the tmux plugins directory
tmux/plugins/

# unignore nvim config
!nvim/
!nvim/**
# ignore lazy-lock
nvim/lazy-lock.json

# unignore k9s config
!k9s/
!k9s/**

# unignore scripts directory
!scripts/
!scripts/**

# unignore Brewfile
!Brewfile-personal

# unignore wezterm directory
!wezterm
!wezterm/**

# unignore yazi directory
!yazi
!yazi/**
