# ignore everything in root directory
# (this prevents committing other things in ~/.config)
/*

# unignore these specific files
!.gitignore
!.gitmodules
!README.md
!.pre-commit-config.yaml

# unignore alacritty config
!alacritty/alacritty.toml

# unignore tmux config
!tmux/tmux.conf

# unignore nvim config
!nvim/
!nvim/**
# ignore lazy-lock
nvim/lazy-lock.json

