[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "yazi/flavors/tokyo-night.yazi"]
	path = yazi/flavors/tokyo-night.yazi
	url = https://github.com/BennyOe/tokyo-night.yazi.git
