# ignore everything (this prevents committing other things in ~/.config)
*

# do not ignore these specific files
.gitignore
.gitmodules
README.md
.pre-commit-config.yaml

# do not ignore these specific directories
alacritty/*
tmux/*
nvim/*
